node_red_flows/flows_directv_ip_control.json
[
    {
        "id": "24dcaf08d7385ddd",
        "type": "tab",
        "label": "DirecTV IP Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d6ae9f56feb511b7",
        "type": "http in",
        "z": "24dcaf08d7385ddd",
        "name": "",
        "url": "/write/User_DTV_IPs/:dtvIPs",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "77d277e2f1a2f07d"
            ]
        ]
    },
    {
        "id": "77d277e2f1a2f07d",
        "type": "function",
        "z": "24dcaf08d7385ddd",
        "name": "",
        "func": "\nlet dtvAddresses = msg.req.params.dtvIPs;\nmsg.payload = dtvAddresses;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 200,
        "wires": [
            [
                "4551c70aba68fd48"
            ]
        ]
    },
    {
        "id": "e0b4a3d8eff208ec",
        "type": "file",
        "z": "24dcaf08d7385ddd",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1060,
        "y": 200,
        "wires": [
            [
                "7c645935a63e6516"
            ]
        ]
    },
    {
        "id": "7c645935a63e6516",
        "type": "http response",
        "z": "24dcaf08d7385ddd",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1270,
        "y": 140,
        "wires": []
    },
    {
        "id": "80270eb3ae544c98",
        "type": "debug",
        "z": "24dcaf08d7385ddd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 200,
        "wires": []
    },
    {
        "id": "8fa845a7c434cd34",
        "type": "function",
        "z": "24dcaf08d7385ddd",
        "name": "",
        "func": "msg.filename = '/home/pi/octava/public/UserDtvIPs.txt';\n\nmsg.payload = msg.payload\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 200,
        "wires": [
            [
                "e0b4a3d8eff208ec"
            ]
        ]
    },
    {
        "id": "4551c70aba68fd48",
        "type": "json",
        "z": "24dcaf08d7385ddd",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 670,
        "y": 200,
        "wires": [
            [
                "8fa845a7c434cd34"
            ]
        ]
    },
    {
        "id": "d6a3a5bb7db2705f",
        "type": "http in",
        "z": "24dcaf08d7385ddd",
        "name": "",
        "url": "/read/User_DTV_IPs",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "109d05dac7c8a7e2"
            ]
        ]
    },
    {
        "id": "a91a12079314c151",
        "type": "http response",
        "z": "24dcaf08d7385ddd",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1230,
        "y": 280,
        "wires": []
    },
    {
        "id": "3ef2731edd4c43d0",
        "type": "debug",
        "z": "24dcaf08d7385ddd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 380,
        "wires": []
    },
    {
        "id": "109d05dac7c8a7e2",
        "type": "function",
        "z": "24dcaf08d7385ddd",
        "name": "",
        "func": "msg.filename = '/home/pi/octava/public/UserDtvIPs.txt';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 320,
        "wires": [
            [
                "7d30dec7d658beb1"
            ]
        ]
    },
    {
        "id": "843d4167344302e4",
        "type": "json",
        "z": "24dcaf08d7385ddd",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 910,
        "y": 320,
        "wires": [
            [
                "a91a12079314c151"
            ]
        ]
    },
    {
        "id": "7d30dec7d658beb1",
        "type": "file in",
        "z": "24dcaf08d7385ddd",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 680,
        "y": 320,
        "wires": [
            [
                "843d4167344302e4"
            ]
        ]
    }
]